@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.topa {
  padding: 0px 6px;
  color: white;
  /* text-shadow: 2px 1px 1px rgb(13, 13, 13); */
  font-size: 25px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'poppins', sans-serif; */
  /* font-size: 18px; */
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header .logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  /* text-shadow:  1px 1px rgb(13, 13, 13); */
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
}

/* buttons */
.click {
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: rgb(60, 196, 237);
  padding: 5px 15px;
 font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa-bars {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-links {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-links a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.menu-links a:hover {
  background-color: #ddd;
}

.menu-container:hover .menu-links {
  display: block;
}

@media (max-width:550px) {
  .topa {
    display: none;
  }
  .click{
    display: none;
  }
}

@media (max-width:300px) {
  h6 {
    color: red !important;
    font-size: 10px;
  }
}

/* picture */
.picture {
  margin-top: 77px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h6 {
  z-index: 3;
  color: rgb(255, 252, 252);
  font-size: 60px;
  /* text-shadow: 2px 1px 1px rgb(13, 13, 13); */
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

/* members stylings */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 10px;
  /* border: 2px solid red; */
}

.team-member {
  /* border: 1px solid #fa0202; */
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

.member-pic {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* footer */

footer {
  background-color: rgb(4, 4, 4);
  margin-top: 6%;
}

.footerContainer {
  width: 100vw;
  /* margin-top: 15px; */
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  margin: 10px;
  font-size: 1.1em;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 1.9em;
  color: rgb(245, 243, 243);
  opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: rgb(2, 2, 2);
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: rgb(52, 51, 51);
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: rgb(253, 252, 252);
  margin: 20px;
  text-decoration: none;
  font-size: 1.7em;
  opacity: 0.7;
  transition: 0.5s;
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: rgb(26, 26, 26);
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: rgb(252, 250, 250);
}

.designer {
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
}

@media (max-width:700px) {

  /* footer */
  .footer {
    margin-top: 95%;
  }

  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}