@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

a {
    padding: 0px 6px;
    color: black;
    /* text-shadow: 2px 1px 1px rgb(13, 13, 13); */
    font-size: 25px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'poppins', sans-serif; */
    /* font-size: 18px; */
}

body {
    background-color: rgb(181, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: rgb(236, 233, 233); */
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgb(110, 109, 109);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    text-shadow:  1px 1px rgb(13, 13, 13);
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
}
/* picture */
.picture {
    margin-top: 75px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/busy2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center;
    /* filter: contrast(39px); */
    /* filter: saturate(-7); */
    position: relative;
}

h6 {
    z-index: 3;
    color: transparent;
    font-size: 60px;
    text-shadow: 2px 1px 1px rgb(13, 13, 13);
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}

/* forms */

.container4 {
    position: relative;
    /* bottom: 5%; */
    height: 450px;
    width: auto;
    border: 2px solid silver;
    margin: auto;
    margin-top: 2%;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 1px black;
}

.h {
    height: 40px;
    width: 100%;
    /* border: 2px solid red; */
}

h1 {
    font-family: "Moon Dance", cursive;
    font-weight: 800;
    font-style: normal;
    padding-left: 5px;
    color: rgb(99, 99, 99);
    text-shadow: 2px 2px 4px black;
}

.t {
    height: 109px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 40px;
    justify-content: center;
    text-align: center;
}

.tupe {
    margin: auto;
    margin-top: 5px;
    background-color: transparent;
    /* display: block; */
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

::placeholder {
    color: rgb(99, 99, 99);
}

.b {
    height: 5%;
    width: 30%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 9px 20px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px black;
    background-color: transparent;
    color: rgb(99, 99, 99);
    transition: background-color 3s, color 5s;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    color: rgb(252, 249, 249);
    background-color: rgb(20, 3, 253);
}

.j {
    height: 43px;
    width: 98%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    transition: color 3s;
}

h2 {
    font-family: cursive;
    transition: color 3s;
}

h2:hover {
    color: red;
}

h3 {
    font-family: cursive;
    transition: color 3s;
}

h3:hover {
    color: blue;
}

.k {
    height: 70px;
    width: 98%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 2px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.ti {
    color: rgb(99, 99, 99);
}

.tt {
    color: rgb(99, 99, 99);
}

/* footer */
footer {
    background-color: rgb(121, 120, 120);
    margin-top: 6%;
}

.footerContainer {
    width: 100vw;
    /* margin-top: 15px; */
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(202, 200, 200);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 1.5em;
    color: rgb(123, 121, 121);
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: rgb(99, 99, 99);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: silver;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: rgb(248, 244, 244);
    margin: 20px;
    text-decoration: none;
    font-size: 1.7em;
    opacity: 0.7;
    transition: 0.5s;
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: rgb(99, 99, 99);
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: rgb(196, 193, 193);
}

.designer {
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
}

@media (max-width:700px) {
    h1 {
        text-align: center;
    }

    h6 {
        font-size: 30px;
    }

    .picture {
        background-size: cover;
    }

    #root {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
    }

    .sidebar {
        width: 90%;
    }

    /* footer */
    .footer {
        margin-top: 95%;
    }

    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

@media (max-width:300px) {
    a{
        position: relative;
        right: 0;
        padding: 0px 1px;
    }
    .j{
        margin-top: 30px;
    }
    .picture {
        background-size: cover;
        height: 70vh;
        margin-top: 25%;
    }

    h6 {
        font-size: 35px;
        color: rgb(252, 3, 3);
    }
.k{
    height: 80px;
}
.ti{
    font-size: 12px;
}
.tt{
    font-size: 14px;
}
    .container4 {
        height: 420px;
        margin-top: 10vh;
        width: 90vw;
    }
}

@media (min-width:301px) and (max-width:500px) {
    h6{
        width: 90vw;
        color: rgb(248, 3, 3);
        font-size: 50px;
    }
    .picture{
        margin-top: 15%;
    }
    .container4 {
        height: 410px;
        margin-top: 10vh;
        width: 85vw;
    }
    .j{
        margin-top: 29px;
    }
    .ti{
        font-size: 12px;
    }
    .tt{
        font-size: 14px;
    }
}

@media (min-width:501px) and (max-width:700px) {
    .picture{
        background-size: cover;
    }
    .j{
        margin-top: 29px;
    }
    .ti{
        font-size: 14px;
    }
    .tt{
        font-size: 15px;
    }
    .container4 {
        height: 400px;
        width: 65vw;
    }
    h6{
        color: rgb(248, 3, 3);
        font-size: 50px;
    }
}

@media (min-width:701px) and (max-width:1000px) {
    .container4 {
        height: 390px;
        width: 55vw;
    }
    .j{
        margin-top: 25px;
    }
    .ti{
        font-size: 14px;
    }
    .tt{
        font-size: 15px;
    }
}

@media (min-width:1001px) and (max-width:1408px) {
    .container4 {
        height: 390px;
        width: 50vw;
    }
    .j{
        margin-top: 25px;
    }
    .ti{
        font-size: 16px;
    }
    .tt{
        font-size: 17px;
    }
    h6{
        font-size: 90px;
    }
}