@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: rgb(63, 42, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
}

.picture {
    margin-top: 75px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/w-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center;
    filter: contrast(39px);
    filter: saturate(-7);
    position: relative;
}


h6 {
    z-index: 3;
    color: rgb(247, 247, 247);
    font-size: 60px;
    text-shadow: 4px 8px 9px rgb(5, 5, 5);
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}


.cart {
    display: flex;
    background-color: rgb(249, 249, 249);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid {
    color: rgb(63, 42, 1);
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(63, 42, 1);
    color: rgb(255, 253, 253);
}

.container {
    display: flex;
    width: 95%;
    margin-top: 35px;
    /* margin-bottom: 30px; */
}

#root {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}   
.sidebar {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 200px;
    /* height: 200px; */
    border: 2px solid rgb(245, 164, 3);
    border-radius: 5px;
    background-color: rgb(146, 144, 144);
    padding: 15px;
    text-align: center;
    overflow: hidden; /* Add overflow to enable scrolling */
    scroll-behavior: smooth; /* Add smooth scrolling */
    z-index: 888;
    transition: right 0.3s ease;
}
.sidebar.active {
    right: 0; /* Move sidebar to the screen */
  }

.sidebar.stopped {
    animation-name: none; /* Stop animation */
}

/* .empty{
    color: red;
    font-size: 30px;
} */
.head {
    background-color: rgb(175, 118, 3);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(63, 42, 1);
    border-radius: 5px;
    padding: 15px;
    margin-top: 60px;
    /* background-color: white; */
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 20px;
    color: red;
}

.b1 {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 42, 1);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

.b1:hover {
    background-color: #282828;
}

.cartitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #333;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(63, 42, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50px;
}

.fa-trash:hover {
    cursor: pointer;
    color: #282626;
}

/* footer */

footer {
    background-color: #241601f5;
    margin-top: 3%;
}

.footerContainer {
    width: 100vw;
    /* margin-top: 15px; */
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(19, 13, 0);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: rgb(227, 153, 5);
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: rgb(32, 23, 1);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: rgb(63, 42, 1);
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: rgb(209, 158, 2);
    margin: 20px;
    text-decoration: none;
    font-size: 1.7em;
    opacity: 0.7;
    transition: 0.5s;
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #241601;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: rgb(250, 162, 9);
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
}


@media (max-width:700px) {
    h1{
        text-align: center;
    }
    h6 {
        font-size: 30px;
    }

    .picture {
        background-size: cover;
    }

    #root {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
    }

    .sidebar {
        width: 90%;
        background-color: transparent;
    }

    /* footer */
    .footer {
        margin-top: 95%;
    }

    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}
@media (min-width:701px) {
    .sidebar{
        width: 35%
    }
    
}

/* slider */

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


body {
    /* background-color: white; */
    /* min-height: 50vh; */
    display: grid;
    place-items: center;
    /* background: linear-gradient(90deg, #181818 0%, #080808 100%); */
}

.container2 {
    border: 2px solid rgb(88, 50, 6);
    height: 250px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-container3 {
    display: flex;
    width: calc(250px * 18);
    /* border-radius: 50px; */
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide-image {
    height: 190px;
    width: 250px;
    display: flex;
    object-fit: contain;
    object-position: center;
    align-items: center;
    /* padding: 15px; */
    perspective: 100px;
    /* border-radius: 50px; */
}

.pir {
    margin: 0px 6%;
    width: 100%;
    /* box-shadow: 3px 2px 2px  rgb(8, 8, 8); */
    transition: transform 1s;
    /* border-radius: 50px; */
}

.pir:hover {
    transform: scale(1.1);
}

h1 {
    color: rgb(50, 32, 1);
    font-size: 50px;
    /* font-family: 'Climate Crisis', sans-serif; */
    font-family: "Moon Dance", cursive;
    font-weight: 900;
    font-style: normal;
    text-shadow: 3px 3px 3px rgb(56, 37, 2);
}

/* move sidebar */
@keyframes moveSidebar {
    0% {
        top: 0;
        right: 0;
    }
    25% {
        top: calc(100vh - 200px);
    }
    50% {
        right: calc(100vw - 200px);
    }
    75% {
        top: 0;
    }
    100% {
        right: 0;
    }
}

/* forms */

.body2{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.container4 {
    position: relative;
    left: 8%;
    height: 450px;
    width: 30%;
    border: 2px solid black;
    margin: auto;
    margin-top: 7%;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px black;
}

.h {
    height: 40px;
    width: 100%;
    /* border: 2px solid red; */
}

h1 {
    padding-left: 5px;
    color: hwb(34 1% 56%);
    text-shadow: 3px 2px 1px black;
}

.t {
    height: 109px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 40px;
    justify-content: center;
    text-align: center;
}

.tupe {
    margin: auto;
    margin-top: 5px;
    background-color: transparent;
    /* display: block; */
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

::placeholder {
    color: hwb(33 0% 82%);
}

.b {
    height: 10%;
    width: 40%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 30px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px black;
    background-color: transparent;
    color: hwb(31 0% 83%);
    transition: background-color 3s, color 5s;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    color: rgb(252, 249, 249);
    background-color: rgb(20, 3, 253);
}

.j {
    height: 38px;
    width: 98%;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    transition: color 3s;
}

h2 {
    font-family: cursive;
    transition: color 3s;
}

h2:hover {
    color: red;
}

h3 {
    font-family: cursive;
    transition: color 3s;
}

h3:hover {
    color: blue;
}

.k {
    height: 80px;
    width: 98%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 1px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.ti {
    color: hwb(31 0% 83%);
}

.tt {
    color: hwb(31 0% 83%);
}


.log {
    position: relative;
    right: 8%;
    height: 450px;
    width: 30%;
    border: 2px solid black;
    margin: auto;
    margin-top: 7%;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px black;
}

.lh {
    height: 40px;
    width: 100%;
    /* border: 2px solid red;   */
}

.i {
    height: 120px;
    width: 98%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.lo {
    margin-top: 5px;
    width: 85%;
    padding: 17px 23px;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    box-shadow: 1px 1px 9px 2px black;
}


.b {
    position: relative;
    top: 2px;
    height: 90px;
    width: 1%;
    /* border: 2px solid red; */
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:px; */
}

.lg {
    padding: 19px 25px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    color: hwb(30 1% 82%);
    background-color: transparent;
    box-shadow: 1px 1px 5px 1px black;
    transition: background-color 3s, color 4s;
    cursor: pointer;
}

.lg:hover {
    background-color: blue;
    color: white;
}


.x {
    height: 40px;
    width: 95%;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.z {
    height: 40px;
    width: 95%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

h4 {
    font-family: cursive;
    transition: color 3s;
}

h4:hover {
    color: red;
}

h5 {
    font-family: cursive;
    transition: color 3s;
}

h5:hover {
    color: blue;
}


/* media queries */

/* for forms */


@media (max-width:300px) {
    .body2{
        display: flex;
        flex-direction: column;
    }
    .container4{
        width: 90vw;
        position: relative;
        left: 0;
    }
    .j{
        height: 50px;
    }
    .log{
        width: 90vw;
        position: relative;
        right: 0;
    }
    .lg{
        padding: 12px 50px;
    }
    .ti{
        font-size: 13px;
    }
    .tt{
        font-size: 12px;
    }
    .x{
        font-size: 17px;
        height: 60px;
    }
    .z{
        height: 75px;
    }
    .i{
        width: 90%;
        position: relative;
        right: 3%;
    }
    .btn{
        padding: 12px 50px;
        text-align: center;
    }
}

@media (max-width:400px) {
    .body2{
        display: flex;
        flex-direction: column;
    }
    .container4{
        position: relative;
        left: 0;
        width: 90vw;
    }
    .log{
        position: relative;
        right: 0;
        width: 90vw;
    }
}
@media (max-width:500px) {
    .body2{
        display: flex;
        flex-direction: column;
    }
    .container4{
        position: relative;
        left: 0;
        width: 90vw;
    }
    .log{
        position: relative;
        right: 0;
        width: 90vw;
    }
}

@media (max-width:800px) {
    .body2{
        display: flex;
        flex-direction: column;
    }
    .container4{
        position: relative;
        left: 0;
        width: 90vw;
    }
    .log{
        position: relative;
        right: 0;
        width: 90vw;
    }
    }
@media (max-width:900px) {
    .i{
        position: relative;
        right: 7px;
        width: 90%;
    }
    .ti{
        font-size: 12px;
    }
    .tt{
        font-size: 13px;
    }
}
@media (max-width:1000px) {
    .i{
        position: relative;
        right: 5px;
        width: 90%;
    }
}

@media (max-width:1000px) {
    .ti{
        font-size: 15px;
    }
    .tt{
        font-size: 16px;
    }
}
@media (max-width:1185px) {
    .ti{
        font-size: 15px;
    }
    .tt{
        font-size: 16px;
    }
}
@media (max-width: 890px) {
    .ti{
        font-size: 13px;
    }
    .tt{
        font-size: 14px;
    }
}

/* scroll */


